body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url('/public/Verhaal.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  margin-left: 50px;
  position: relative; /* Zorgt ervoor dat de absoluut gepositioneerde elementen relatief gepositioneerd zijn */
}

h1 {
  margin-bottom: 10px;
  color: #080C6B;
  font-size: 3rem;
}

p {
  margin-bottom: 20px;
  color: #080C6B;
  font-size: 0.7rem;
}

#status {
  font-size: 1.2em;
  margin-top: 10px;
  color: #080C6B;
}

#recognized-text {
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  margin-top: 20px;
}


/* Zorg ervoor dat het video element onzichtbaar is */
#video {
  display: none;
}


#gesture-guide {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  position: fixed; /* Zorgt ervoor dat de afbeeldingen vast aan de rechterkant van het scherm blijven */
  right: 0; /* Positioneer de container aan de rechterkant */
  top: 0; /* Begin bovenaan het scherm */
  height: 100vh; /* De hoogte van het scherm gebruiken */
  overflow-y: auto; /* Scroll als er te veel items zijn voor het scherm */
  z-index: 1000; /* Zorg ervoor dat het element boven andere elementen op de pagina staat */
}

.gesture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gesture-img {
  width: 100px;
  height: auto;
}

.gesture-label {
  font-size: 1em;
  color: #080b6b95;
  text-align: center;
}