body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url('/public/Verhaal.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  position: relative;
}

h1 {
  margin-bottom: 10px;
  color: #080C6B;
  font-size: 3rem;
}

p {
  margin-bottom: 20px;
  color: #080C6B;
  font-size: 0.7rem;
}

#status {
  font-size: 1.2em;
  margin-top: 10px;
  color: #080C6B;
}

#recognized-text {
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  margin-top: 20px;
}

#video, #canvas {
  display: none;
}

#gesture-guide {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 1000;
  display: none;
}


.gesture-label {
  font-size: 1em;
  color: #373a7feb;
  text-align: center;
}

.hidden {
  display: none;
}

.gesture-container  {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: none; /* Dit moet worden aangepast door JavaScript */
}

.gesture-img{
  width: 100px; /* Pas de grootte aan indien nodig */
}

#letter-image-container {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: none; /* Dit moet worden aangepast door JavaScript */
  height: 100px;
  width: 100px;
}

#letter-image {
  width: 100px; /* Pas de grootte aan indien nodig */
  height: 100px;
}

/* Zorg ervoor dat de letterafbeelding groot weergegeven wordt */
#large-letter-image-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: none; /* Verberg de container standaard */
}

#large-letter-image {
  width: 300px; /* Grotere grootte voor betere zichtbaarheid */
  height: auto;
}

/* Kleine versie bovenaan, blijft zichtbaar */
#small-letter-image-container {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: block; /* Altijd zichtbaar */
}

#small-letter-image {
  width: 100px; /* Kleine grootte */
  height: auto;
}