body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url('/public/Verhaal.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  position: relative;
}

h1 {
  margin-bottom: 10px;
  color: #080C6B;
  font-size: 3rem;
}

p {
  margin-bottom: 20px;
  color: #080C6B;
  font-size: 0.7rem;
}

#status {
  font-size: 1.2em;
  margin-top: 10px;
  color: #080C6B;
}

#recognized-text {
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  margin-top: 20px;
}

#video, #canvas {
  display: none;
}

#gesture-guide {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 1000;
}

.gesture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gesture-img {
  width: 100px;
  height: auto;
  opacity: 0.5; /* Standaard doorzichtigheid voor gebaren */
}

.gesture-label {
  font-size: 1em;
  color: #080b6b00;
  text-align: center;
}

.hidden {
  display: none;
}

#letter-image-container {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: none; /* Verberg de container standaard */
}

#letter-image-container img {
  width: 100px; /* Pas de grootte van de afbeelding aan indien nodig */
}